<PagetitleComponent :titleName="AGDATA.title"/>
<main>
    <ViewtitleComponent :titleName="AGDATA.title" :logoLink="AGDATA.logo" :linksList="AGDATA.links" :description="AGDATA.description"/>

    <div class="iblock">
        <h2 class="iblock_title" @click="chgVisiblStatus('ibc_0')">HTML. Кратко</h2>
        <p><b>HTML</b> (<i>"HyperText Markup Language"</i> - <i>язык гипертекстовой разметки</i>) представляет язык разметки гипертекста, используемый преимущественно для создания документов в сети интернет.</p>
        <div id="ibc_0" class="iblock_content">
            <h2>Что такое HTML</h2>
            <p><b>HTML</b> - это не язык программирования, это язык разметки, который используется, чтобы сообщать браузеру как именно следует отображать веб-страницы. В зависимости от потребностей веб-дизайнера, он может быть как очень сложным, так и элементарно простым. HTML состоит из ряда элементов, которые используются при обработке контента (текста, картинок и т.п.), а именно - заставить контент отображаться или действовать определённым образом. Превратить картинку в ссылку, сделать слова курсивом, сделать шрифт больше или меньше и т.д...</p>
            <p>HTML был разработан британским учёным <b>Тимом Бернерсом-Ли</b> приблизительно в 1986—1991 годах в ЦЕРН`е (Женева, Швейцария). Он создавался как язык для обмена научной и технической документацией, пригодный для использования людьми, не владеющих знаниями в области вёрстки. HTML успешно справлялся с проблемой сложности SGML путём определения небольшого набора структурных и семантических элементов — дескрипторов. Дескрипторы также часто называют «тегами». С помощью HTML можно легко создать относительно простой, но красиво оформленный документ. Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста. Мультимедийные возможности были добавлены позже.</p>
            <p>Первым общедоступным описанием HTML был документ «<b>Теги HTML</b>», впервые упомянутый в Интернете Тимом Бернерсом-Ли в конце 1991 года. В нём описываются 18 элементов, составляющих первоначальный, относительно простой дизайн HTML. За исключением тега гиперссылки, на них сильно повлиял SGMLguid, внутренний формат документации, основанный на стандартном обобщенном языке разметки (SGML), в CERN. Одиннадцать из этих элементов всё ещё существуют в HTML4.</p>
            <p>Изначально язык HTML был задуман и создан как средство структурирования и форматирования документов без их привязки к средствам воспроизведения (отображения). В идеале, текст с разметкой HTML должен был без стилистических и структурных искажений воспроизводиться на оборудовании с различной технической оснащённостью (цветной экран современного компьютера, монохромный экран органайзера, ограниченный по размерам экран мобильного телефона или устройства и программы голосового воспроизведения текстов). Однако современное применение HTML очень далеко от его изначальной задачи. Например, тег <i><b>table</b></i> предназначен для создания в документах таблиц, но иногда используется и для оформления размещения элементов на странице. С течением времени основная идея платформонезависимости языка HTML была принесена в жертву современным потребностям в мультимедийном и графическом оформлении.</p>
            <p>
                В 2014 году официально была завершена работа над новым стандартом - HTML5, который фактически произвел революцию, привнеся в HTML много нового, а именно:
                <ul>
                    <li>HTML5 определяет новый алгоритм парсинга для создания структуры DOM</li>
                    <li>добавление новых элементов и тегов, как например, элементы video, audio и ряд других</li>
                    <li>переопределение правил и семантики уже существовавших элементов HTML</li>
                </ul>
            </p>
            <p>Фактически с добавлением новых функций HTML5 стал не просто новой версией языка разметки для создания веб-страниц, но и фактически платформой для создания приложений, а область его использования вышла далеко за пределы веб-среды интернет: HTML5 применяется также для создания мобильных приложений под Android, iOS, Windows Mobile и даже для создания десктопных приложений для обычных компьютеров (в частности, в ОС Windows 8/8.1/10).</p>
            <p>
                В итоге, как правило, HTML 5 применяется преимущественно в двух значениях:
                <ul>
                    <li>HTML 5 как обновленный язык разметки гипертекста, некоторое развитие предыдущей версии HTML 4</li>
                    <li>HTML 5 как мощная платформа для создания веб-приложений, которая включает не только непосредственно язык разметки гипертекста, обновленный HTML, но и язык программирования JavaScript и каскадные таблицы стилей CSS 3.</li>
                </ul>
            </p>
            <p>World Wide Web Consortium (сокращенно W3C - Консорциум Всемирной Паутины) - независимая международная организация, которая определяет стандарт HTML5 в виде спецификаций. И надо отметить, что организация продолжает работать над HTML5, выпуская обновления к спецификации.</p>
            <br><br>
            <h2>Поддержка браузерами</h2>
            <p>Использование технологий спецификации HTML5 в веб-браузерах, к сожалению, не идет в ногу со временем. Всегда был разрыв. Большинство браузеров стало внедрять стандарты HTML5 еще до их официальной публикации. И к текущему моменту большинство последних версий браузеров поддерживают большинство функциональностей HTML5 (Google Chrome, Firefox, Opera, Internet Explorer 11, Microsoft Edge). В то же время многие старые браузеры, как например, Internet Explorer 8 и более младшие версии, не поддерживают стандарты, а IE 9, 10 поддерживает лишь частично.</p>
            <p>При этом даже те браузеры, которые в целом поддерживают стандарты, могут не поддерживать какие-то отдельные функции. И это тоже надо учитывать в работе. Но в целом с поддержкой данной технологии довольно хорошая ситуация.</p>
            <p>Для проверки поддержки HTML5 конкретным браузером можно использовать специальный сервис http://html5test.com.</p>
        </div>
    </div>

    <div class="iblock">
        <h2 class="iblock_title" @click="chgVisiblStatus('ibc_1')">таблица цветов (HTML)</h2>
        <p>В данном разделе представлены специальные ключевые слова, которые можно применять для обозначения того или иного цвета на интернет сайтах, и при разработке на языках программирования для Web, таких как HTML, CSS, JavaScript и др.</p>
        <div id="ibc_1" class="iblock_content">
            <p>В ранних спецификациях W3C было определено всего 16 ключевых цветов. В более поздних спецификациях дополнительно было определено ещё 130 различных названий цветов. Следующая таблица содержит имена, и образцы цветов, которые ассоциируются с этими именами.</p>
            <p>Имена цветов в HTML не чувствительны к регистру, и могут записываться в любой форме.</p>
            <p>Также стоит отметить, что имея 147 различных ключевых слов (17 старых и 130 новых), не все цвета в этом списке уникальны. Некоторые имена обозначают один и тот же цвет. Так, например, и Grey, и Gray обозначают 50-процентный серый цвет #808080, а Magenta — это лишь синоним HTML цвета Fuchsia, и ссылается на шестнадцатеричный код цвета #FF00FF.</p>
            <br>
            <h2>Основные (ключевые) цвета</h2>
            <table>
                <tr class="row-cols-3">
                    <th class="col">HTML</th>
                    <th class="col">Наименование</th>
                    <th class="col">HEX	RGB</th>
                </tr>
                <tr v-for="item in COLORDATA.base_list" class="row-cols-3" :style="{backgroundColor: item.strName}">
                    <td class="col" style="border-radius: 1rem 0 0 1rem;">{{item.strName}}</td>
                    <td class="col">{{item.codeName}}</td>
                    <td class="col" style="border-radius: 0 1rem 1rem 0;">{{item.rgbName}}</td>
                </tr>
            </table>
            <br><br>
            <h2>Все цвета</h2>
            <table>
                <tr class="row-cols-3">
                    <th class="col">HTML</th>
                    <th class="col">Наименование</th>
                    <th class="col">HEX	RGB</th>
                </tr>
                <tr v-for="item in COLORDATA.list" class="row-cols-3" :style="{backgroundColor: item.strName}">
                    <td class="col" style="border-radius: 1rem 0 0 1rem;">{{item.strName}}</td>
                    <td class="col">{{item.codeName}}</td>
                    <td class="col" style="border-radius: 0 1rem 1rem 0;">{{item.rgbName}}</td>
                </tr>
            </table> 	
        </div>
    </div>
</main>