<PagetitleComponent :titleName="areaName"/>
<main>
    <div class="views_mainBlock row">
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <p><b>Racket</b> (ранее — PLTScheme) - это мультипарадигменный язык программирования общего назначения, принадлежащий семейству Lisp/Scheme. Предоставляет среду языково-ориентированное программирование — одно из предназначений racket — создание, разработка и реализация языков программирования. Язык используется в различных контекстах: как скриптовый язык, как язык общего назначения, в обучении информатике, в научных исследованиях.</p>
                    <p>Слово «Racket» используется для обозначения определенного диалекта языка Lisp, основанного на ветви Scheme семейства Lisp.</p>
                </div>
            </div>
            
            
        </div>
        <div class="col-2">
            <img src="https://racket-lang.org/img/racket-logo.svg" alt="Racket" width="150px" height="150px">
            <h2 style="text-align: center;">RACKET</h2>
        </div>
        
        
    </div>
</main>