.router-link-active {
    list-style-type: none;
    text-decoration: none; }

.navigator {
    position: absolute;
    top: 10rem;
    left: 1.5rem;
    /* width: 90vw; */
    min-width: 12vw;
    min-height: .1vh;
    max-width: 12vw;
    padding: .3rem .3rem .5rem .3rem;
    border-radius: .8rem;
    -webkit-box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54);
    box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54); }

.navigator_content {
    width: 98%;
    text-align: left;
}

.navigator h3 {
    min-width: 95%;
    max-width: 98%;
    /* font-size: .9rem; */
    background-color: rgb(25, 25, 25);
    border-radius: .5rem .2rem 3rem .5rem;
    color: rgb(164, 100, 247);
    margin-bottom: 3px;
}

.navigator .navigator_li_item  {
    color: rgb(25, 25, 25);
    list-style-type: none;
    text-decoration: none;
    border-left: 1px solid rgb(25, 25, 25);
    padding-left: 4px;
    font-size: 14px;
    &:hover {
        padding-left: 6px;
    }
}