<PagetitleComponent :titleName="areaName"/>
<main>
    <div class="iblock jsfw">
        <div class="row">
            <div class="col-11 col-xs-11 col-sm-11 col-md-11 col-lg-11 jsfw_info">
                <p><b>Фреймворк</b> - это некая программная платформа, определяющая структуру программной системы; ПО, облегчающее разработку и объединяющее различные компоненты большого программного проекта.</p>
                <p>
                    В случае использования фреймворков в процессе разработки, можно сказать, что "используется каркасный подход" построения программ. В таком случае любая конфигурация программы строится из двух частей:
                    <ul>
                        <li><b>Постоянная часть</b> — каркас, не меняющийся от конфигурации к конфигурации и несущий в себе гнёзда, в которых размещается вторая, переменная часть;</li>
                        <li><b>Сменные модули</b> (или точки расширения).</li>
                    </ul>
                    Понятие "фреймворк" отличается от понятия "библиотека" тем, что последнее может быть использована в программном продукте просто как набор подпрограмм, не влияя на архитектуру в целом и не накладывая на неё никаких ограничений. В то время как фреймворк определяет правила архитектуры приложения, определяя на начальном этапе разработки «каркас», который нужно будет расширять и изменять согласно указанным требованиям. Также, в отличие от библиотеки, которая объединяет в себе набор близкой функциональности, — «фреймворк» может содержать в себе большое число разных по тематике библиотек.
                </p>
                <br>
                <p><b>JavaScript-фреймворки</b> — это фреймворки для приложений, написанные на языке программирования JavaScript. JavaScript-фреймворки отличается от Javascript-библиотек потоком управления. Они являются неотъемлемой частью современной веб-разработки, предоставляя разработчикам проверенные и протестированные инструменты для создания масштабируемых и интерактивных веб-приложений. Многие современные компании используют фреймворки для своих решений, поэтому многие задачи связанные с разработкой клиентской части веб-приложений теперь требуют опыта работы с ними.</p>
                <p>
                    Фреймворки JavaScript имеют ряд преимуществ, которые обеспечивают более эффективную и организованную разработку.
                    <ul>
                        <li><b>Ускорение разработки</b> - предоставляются готовые решения для общих задач (маршрутизация, управление состоянием и взаимодействие с сервером), что позволяет разработчику сосредоточиться на над своими индивидуальными задачами, не тратя время на реализацию базовых функций.</li>
                        <br>
                        <li><b>Организация кода</b> - обычно имеются структуру и рекомендации по организации кода, способствующие поддерживаемости и расширяемости приложений.</li>
                        <br>
                        <li><b>Поддержка сообщества</b> - популярные фреймворки быстро формируют большие сообщества разработчиков, которые предлагают поддержку, обучение и ресурсы, что облегчает поиск решений для проблем и ускоряет процесс разработки.</li>
                    </ul>
                </p>
            </div>
            <div class="col-12 col-xs-12 col-sm-1 col-md-1 col-lg-1 jsfw_links">
                <div v-for="item in JSFDATA" class="linkblock">
                    <router-link :to=item.txtKey>
                        <div class="linkblock_title">{{item.title}}</div>
                        <div class="linkblock_img">
                            <img :src="getImgByKey(item.txtKey)" :alt="item.txtKey">
                        </div>
                    </router-link>
                </div>
            </div>
        </div>      
    </div>
</main>