.container {
  min-width: 98%;
  max-width: 98%; }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; }

h1 { font-size: 1.2rem; }
h2 { font-size: 1rem; }
h3 { font-size: .9rem; }
h4 { font-size: .8rem; }
h1, h2, h3, h4 {
  text-transform: uppercase;
  padding: 3px 1rem;
  /* width: 20px; */
  border-radius: 1rem;
  /* color: rgb(25, 25, 25); */
  margin-bottom: .8rem;
 }

.views_mainBlock {
  width: 90%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
  text-align: left; }

main {
  width: 100%;
  min-height: calc(100vh - 8rem);
  padding: 3rem 10vw;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px; }

.iblock {
  width: 85%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  -webkit-box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54);
  box-shadow: 4px 4px 35px 0px rgba(34, 60, 80, 0.54);
  text-align: left; }

.iblock_title {
  background-color: rgb(25, 25, 25);
  border-radius: 10px .2rem 3rem 10px;
  color: white;
  padding: 1rem 1.2rem;
  &:hover {
    color: rgb(9, 182, 159); }
  &:before {
    content: "▼ " !important; }
  }

.iblock_content {
  display: none;
  padding-left: .5rem;
  padding-right: .5rem; }

.iblock h1,
.iblock h2,
.iblock h3,
.iblock h4 {
  text-transform: uppercase;
  background-color: rgb(25, 25, 25);
  border-radius: 10px .2rem 3rem 10px;
  color: white;
  padding: 1rem 1.1rem; }

.iblock h3,
.iblock h4 {
  color: white;
  &:before {
    content: "| "; } }

.iblock_img_mini-right,
.iblock_img_mini-left {
  padding: 5px 5px 0 5px;
  max-width: 220px;
  /* max-height: 220px; */
  border-radius: 1.2rem;
  font-size: 12px;
  text-align: center;
  margin: .5rem;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2); }

.iblock_img_mini-right {
  float: right; }
.iblock_img_mini-left {
  float: left; }

.iblock_img_mini-left img,
.iblock_img_mini-right img {
  max-width: 200px;
  max-height: 200px;
  border-radius: .8rem;
  margin-bottom: 5px; }

.iblock_img_mini-left figcaption,
.iblock_img_mini-right figcaption {
  margin-bottom: 5px; }

.iblock_content table {
  margin-left: auto;
  margin-right: auto; }

.iblock_content table tr td {
  padding: 5px 7px; }

.iblock_table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 4px 19px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 19px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 19px -4px rgba(34, 60, 80, 0.2); }

.iblock_table_header {
  background-color: rgb(25, 25, 25);
  color: white; }

.iblock_table_header th {
  text-align: center; }

.iblock_table_content {
  border-bottom: 1px solid rgb(241, 241, 241);
  font-size: .9rem;
  &:hover {
    background-color: aliceblue;
  } }

.iblock_table_content td {
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.code {
  background-color: rgb(221, 233, 236);
  color: rgb(25, 25, 25);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  padding: 5px 8px; }

.code td {
  padding-left: 5px;
  padding-right: 5px; }

.code_count {
  color: rgb(25, 25, 25);
  border-right: 1px solid lightgray; }

.code_compil {
  background-color: rgb(240, 222, 255);
  color: rgb(25, 25, 25);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  padding: 5px 8px; }

@media screen and (max-width: 700px) {
  .mainNavItem {
    font-size: .7rem !important;
    margin-top: 5px;
  }
  .nav_areas_desc {
    visibility: hidden;
  }
  .pageTitle {
    visibility: hidden;
  }
  /* .areaPart {
    max-width: 30vw; } */
}

@media screen and (min-width: 701px) and (max-width: 1199px) {
  .mainNavItem {
    font-size: .7rem !important;
  }
  .pageTitle {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .mainNavItem {
    font-size: .9rem !important; }
}