.container {
  min-width: 98% !important;
  max-width: 98% !important;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50; }

  nav {
    padding: 30px; }

  nav a {
    font-weight: bold;
    color: #2c3e50; }

  nav a.router-link-exact-active {
    color: #42b983; }

  main {
    width: 100%;
    height: calc(100vh - 8rem);
  }

  @media screen and (max-width: 700px) {
    .mainNavItem {
      font-size: .7rem !important;
    }
    .pageTitle {
      visibility: hidden;
    }
  }
  @media screen and (max-width: 1199px) {
    .mainNavItem {
      font-size: .7rem !important;
    }
    .pageTitle {
      font-size: 1rem !important;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1800px) {
    .mainNavItem {
      font-size: .9rem !important;
    }
  }